[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]
beautifulsoup4 = "~=4.14"
fastapi = "~=0.136"
financedatabase = "~=2.3"
finnhub-python = "~=2.4"
google-genai = "~=1.73"
httptools = {version = "==0.7.1", markers = "sys_platform != 'win32'"}
lxml = "~=6.0"
openai = "~=2.32"
pandas = "~=2.3"
psutil = "~=7.2"
python-dotenv = "~=1.2"
python-multipart = "~=0.0"
python-toon = "~=0.1"
requests = "~=2.33"
tabulate = "~=0.10"
tradingview-datafeed = "~=2.1"
uvicorn = "~=0.44"
uvloop = {version = "==0.22.1", markers = "sys_platform != 'win32'"}
watchfiles = "~=1.1"
websockets = "~=16.0"

[dev-packages]

[pipenv]
allow_prereleases = false

[scripts]
app = "python -m app.main"
app-cli = "python -m app.main --cli"
build-frontend = "cd app/frontend && npm install && npm run build"
build-gh-pages = "cd app/frontend && npm install && npm run build:gh-pages"
test = "python -m unittest discover"
test-frontend = "cd app/frontend && npm test"
update = "python -m database.updater"
